@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: cornsilk;
    
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}
h1 {
    margin: 0;
}
h2{
    margin-top: 0;
}
p {
    background-color: #fff;
    color: #333;
    line-height: 150%;
    letter-spacing: 0.5px;
    font-weight: 300;
    padding: 20px;
    text-align: justify;
    border-radius: 4px;
}
.links {
    list-style: none;
    padding: 0;
}
.links li {
    padding: 5px 0;
}
.links li a {
    color: crimson;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 10px;
}
.links li a:hover {
    color: #fff;
    background-color: crimson;
}
.page {
    margin: 10px auto;
    width: 100%;
    max-width: 700px;
    border: 2px dashed crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.header, .footer {
    text-align: center;
    padding: 10px;
    background-color: crimson;
    color: #fff;
    font-weight: bold;
}
.page .content{
    background-color: #eee;
    border: 4px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.pictures a {
    text-decoration: none;
}
.pictures a img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #fff;   
}
.pictures a:hover img {
    border: 3px solid crimson;
}
